<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<header>
			<nav class="title_bar">
				<strong>Hacker Clones</strong>
			</nav>
			<ul>
		</header>
	</div>
<%= yield %>

</body>
</html>
